# IDE directories
.idea/

# Visual Studio / Rider files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# User-specific files
*.DotSettings.user

# OS files
.DS_Store

# NuGet
.nuget/
*.nupkg

# Logs
*.log

# Visual Studio Code
.vscode/